<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}ثيم منتج واحد{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>متجري</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>جميع الحقوق محفوظة 2025</p>
    </footer>

    {% block scripts %}{% endblock %}
  </body>
</html>
